.information {
    margin: 0 auto;
    width: 1920px;
    height: 220px;
    padding: 50px;
    background: #998431;
}

.information_container {
    margin: 0 auto;
    width: 1110px;
    height: 60px;
    text-align: center;
    font-family: "Montserrat";
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.information__tr2 {
    border: none;
}

.information_container2 {
    margin: 0 auto;
    width: 1110px;
    height: 60px;
    border-collapse: collapse;
    border-top: none;
    text-align: center;
    font-family: "Montserrat";
    font-size: 14px;
    color: #FFFFFF;
}

.information_container2:first-child {
    width: 350px;
}

.th__2 {
    border-top: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    border-collapse: collapse;
    left: 500px;
}

.th__2:last-child {
    border-right: none;
}

.th__22 {
    border-top: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    border-collapse: collapse;
}

@media screen and (max-width: 1200px){
    .information{
        width: 90vw;

    }
}


