
.m_twopage_container{
    margin: 0 auto;
    width: 1110px;
}

.m_linetop{
    margin: 80px auto 0 auto;
    width: 1110px;
    height: 0px;
    border: 1px solid #998431;

}

.m_text1{
    margin: 60px 763px 30px auto;
    width: 347px;
    height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

.m_text2{
    margin: 0px 1217px 30px auto;
    width: 298px;
    height: 108px;
    font-family: "PlayfairDisplay-Bold";
    font-size: 36px;
    line-height: 150%;
    color: #282828;
}

.m_line1{
    margin: 0px 1355px 30px auto;
    width: 160px;
    height: 0px;
    background: #282828;
    border: 1px solid #282828;
}

.m_text3{
    margin-top: 30px;
    width: 445px;
    height: 84px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #282828;
}

.collection__table{
    margin: 30px 1070px 30px auto;
    width: 445px;
    height: 228px;
    font-family: 'Montserrat';
    border-collapse: collapse;
}

.tr__table {
    border-bottom: 1px solid #282828;
}
.tr__table:last-child {
    border-bottom: none;
}

.td__table {
    border-right: 1px solid #282828;
}

.td_tablex{
    margin: 26px 24px 26px 19px;
}

.td_tabley{
    margin: 31px 24px 26px 19px;
}

.td_tablez{
    margin: 31px 24px 25px 19px;
}

.td__table:last-child {
    border-right: none;
}

.td__told {
    font-weight: bold;
    text-align: start;
    margin-left: 30px;
    margin-top: 5px;
    font-family: "PlayfairDisplay-Bold";
}

.td__toldd{
    text-align: start;
    margin-left: 30px;
    margin-top: -5px;
}

.m_text4{
    margin: 0px 1070px 0px auto;
    width: 445px;
    height: 84px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #282828;
}

.ones-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;
    margin: 30px 191px 60px 0px;
    width: 254px;
    height: 50px;
    background: #998431;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.card{
    position: relative;
    width: 160px;
}

.card__image {
    width: 230px;
    height: 160px;
}


/*.m_onepage_image{
    width: 540px;
    height: 500px;
    grid-column: span 2;
}

.m_twopage_image{
    width: 255px;
    height: 228px;
}

.m_threepage_image{
    width: 255px;
    height: 228px;

}*/

.m_linebot{
    margin: 0 auto 80px auto;
    width: 1110px;
    height: 0px;
    border: 1px solid #998431;
}

@media screen and (max-width: 750px) {
    .m_twopage{
        max-width: 91%;
    }
}

@media screen and (max-width: 750px) {
    .m_twopage_container{
        max-width: 91%;
        margin: 0 10px;
    }
}

@media screen and (max-width: 750px) {
    .m_linetop{
        width: 538px;
        margin-left: 0px;
        margin-top: 80px;
    }
}

@media screen and (max-width: 750px) {
    .gallery{
        width: 91%;
        margin: 10px 763px 30px auto;
        justify-content: start;
    }
}

@media screen and (max-width: 750px) {
    .m_linebot{
        width: 538px;
        margin-left: 0px;
        margin-bottom: 80px;
    }
}
